<div class="aside-block">
    <h2 class="text-uppercase">{{ block.settings.heading }}</h2>
    <div class="instagram-grid three-in-row">
        <div id="instafeed{{ block.id }}" class="instagram-feed-full js-instagram-feed" data-limit='{{ settings.insta_limit }}' data-{{ settings.insta_source }}='{{ settings.insta_source_text }}'></div>
    </div>
</div>