{{ 'fragrance-finder.css' | asset_url | stylesheet_tag }}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


    <title>Fragrance Finder</title>
  </head>
  <body>
    
<!---Header Section-->

    <section class="landing-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p>TRY OUR</p>
                    <h2>FRAGRANCE FINDER</h2>
                    <p>Find your new favourite scent</p>
                    <div class="try-button">
                    <a href="./fragrance-finder-step-1">TRY NOW <span> <img src="{{'fragrance-finder-button-icon.svg' | asset_url }}" alt=""> </span></a>
                </div>
                </div>
            </div>
        </div>

    </section>

    <!---How it works Section-->

    <section class="landing-works text-center">
        <div class="container">
            <h2>HOW IT WORKS</h2>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mt-4">
                    <img src="{{'fragrance-finder-blurb-1.svg' | asset_url }}" alt="">
                    <p>ANSWER A FEW QUESTIONS</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <img src="{{'fragrance-finder-blurb-2.svg' | asset_url }}" alt="">
                    <p>WE’LL SEARCH FOR THE BEST FRAGRANCES BASED ON YOUR ANSWERS</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <img src="{{'fragrance-finder-blurb-3.svg' | asset_url }}" alt="">
                    <p>VIEW AND COMPARE FRAGRANCE MATCHES</p>
                </div>
            </div>
            <a class="frang-button" href="./fragrance-finder-step-1" id="btnColor">TRY FRAGRANCE FINDER</a>
        </div>
    </section>
    

    <!---Seo Text Section-->

    <section class="landing-seo">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="seo-dec">
                    <span>PERFUME DIRECT</span>
                    <h2>FRAGRANCE FINDER</h2>
                    <p>Fancy a new fragrance but not quite sure which one to choose? There are a million good excuses to indulge in a new scent for yourself or your friends and family and our fragrance finder will help you pick the perfect perfume for any occasion. Simply answer a few questions and our fragrance finder will match you or your loved ones to scents you will adore. It's fun, it’s free and easy to use, so have a go, you might just find a fragrance you love.</p>
                </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <img style="width:100%" src="{{'fragrance-finder-perfume-direct-240-3.png' | asset_url }}" alt="">
                </div>
            </div>
        </div>
    </section>
    

 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-latest.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <div class="clearfix"></div>

  </body>
</html>
